:root {
    --color1: #024089;
    --color2: #004da9;
    --color3: #fa8f1a;
    --color4: #fda300;
    --color5: #ffc619;
    --color6: #e1e3e7;
}

.primary-b{
    background-color: var(--color2);
}
.primary-b2{
    background-color: var(--color1);
}
.primary-t{
    color: var(--color1);
}
.secondary-t{
    color: var(--color3);
}
.secondary-t2{
    color: var(--color5);
}
.grey-t{
    color: var(--color6)
}
.red{
    color: #E4002B;
}
.green{
    color: #00ad43;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.space-background{
    background-image: url(./assets/space-background-tall.jpg);
}

main{
    flex-grow: 1;
    background-color: white;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--color1);
}

footer{
    background-color: var(--color2);
}

.space-title-font {
    font-family: 'Righteous', cursive;
}

.button{
    width: 10rem;
    border: none;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    background-color: var(--color4);
    color: white;
}
.button:hover{
    background-color: #ffaa0d;
}
.button:active{
    background-color: #f09c00;
}
.button2{
    width: 10rem;
    border: none;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    background-color: var(--color2);
    color: var(--color5);
}
.button2:hover{
    background-color: var(--color1);
}
.button2:active{
    background-color: (var(--color2));
}

.click-item{
    width: 100px;
    height: 400px;
    
}
.the-fork{
    width: 150px;
    height: 600px;
    
}

.spoon{
    width: 95px;
    height: 395px;
    cursor: pointer;
    position: relative;
    animation: spoonWobble 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.spoon:active{
    width: 99px;
    height: 399px;
}



/* animation */






/*SCREEN SIZINGS*/

@media only screen and (min-width:1500px){
    body {
        margin-left: 15vw;
        margin-right: 15vw;
        
    }
}
@media only screen and (min-width:1000px){
    body {
        margin-left: 10vw;
        margin-right: 10vw;
        
    }
}


/* the meme */

.big-big{
    font-size: 5rem;
}
.big-small{
    font-size: 2rem;
}
.gonzo{
    display:none;
}
.half-gonzo {
    opacity: 100%;
}
.visable{
    display: block;
}
.fixed-place{
    position: fixed;
    width: 50vw;
    top: 8%;
    left: 25%;
    bottom: 42%;
    right: 25%;
}
.little-lower{
    position: fixed;
    width: 50vw;
    top: 65%;
    left: 25%;
    bottom: 0%;
    right: 25%;

}

.moon-spot{
    width: 25rem;
    cursor: pointer;
}

.spoon-spot{
    width: 12rem;
}

.moon-dance{
    animation: moonWobble 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}




.woosh-appear {
    animation: wooshAppear 5s ease-out forwards;
}
.appearClick {
    animation: appearClick 3s ease-out forwards;
}
.spoon-words-show{
    animation: appear2 6s linear forwards;
}


.way-down{
    padding: fixed;
    top: 100%;
    bottom: 0%;
}

.appear {
    animation: appear 10s linear forwards;
}
.appear2 {
    animation: appearHalf 10s linear forwards;
}
.moon-gone {
        animation: moonGone 1.5s linear forwards;
}
.slow-gone {
        animation: slowGone 10s linear forwards;
}
.market-appear {
        animation: appearMarket 1s linear forwards;
}


@keyframes wooshAppear {

    0% {
            top: -500px;
            right: -500px; 
            transform: scale(0) rotate(45deg); 
        }
    80% {
            top: -500px;
            right: -500px; 
            transform: scale(0) rotate(45deg); 
        }
        100%{
            top: 0px; 
            right: 0px;
            transform: scale(1) rotate(0deg); 
        }
}
@keyframes appear {
        0% {
            opacity: 0%;
        }
        80%{
            opacity: 0%;
        }
        100%{
            opacity: 100%;
        }
}
@keyframes appearHalf {
        0% {
            opacity: 0%;
        }
        40%{
            opacity: 0%;
        }
        50%{
            opacity: 100%;
        }
        90%{
            opacity: 100%;
        }
        100%{
            opacity: 0%;
        }
}
@keyframes appear2 {
    0% {
            top: -500px;
            transform: scale(0); 
        }
    80% {
        top: -500px;
        
        transform: scale(0); 
        }
        100%{
            top: 0px; 
            right: 0px;
            transform: scale(1); 
        }
}
@keyframes appearClick {
    0% {
            top: -500px;
            transform: scale(0); 
        }
    80% {
        top: -500px;
        
        transform: scale(0); 
        }
        100%{
            top: 0px; 
            right: 0px;
            transform: scale(1); 
        }
}
@keyframes appearThe {
    0% {
            top: -500px;
            transform: scale(0); 
        }
    80% {
        top: -500px;
        
        transform: scale(0); 
        }
        100%{
            top: 0px; 
            right: 0px;
            transform: scale(1); 
        }
}

@keyframes appearSpoon {
    0% {
            top: -500px;
            transform: scale(0); 
        }
    80% {
        top: -500px;
        
        transform: scale(0); 
        }
        100%{
            top: 0px; 
            right: 0px;
            transform: scale(1); 
        }
}

@keyframes appearMarket {
    0% {
        opacity: 0%; 
        }
    100% {
        opacity: 100%; 
        }
}

@keyframes spoonWobble {

  0% {top: 2px; transform: rotate(2deg);}
  25% {top: -2px;}
  50% {top: 2px; transform: rotate(-2deg);}
  75% {top: -2px;}
  100% {top: 2px; transform: rotate(2deg);}

}

@keyframes moonWobble {

  0% {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}

}

@keyframes moonGone {
        0% {
            opacity: 100%;
        }
        100%{
            opacity: 0%;
        }
}

@keyframes slowGone {
        0% {
            opacity: 100%;
        }
        80% {
            opacity: 100%;
        }
        100%{
            opacity: 0%;
        }
}